@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {

    /* Color palette */
    --color-light-pink: #F6C9C3; /*Nav Bar & footer color */
    --color-lighter-pink: #F9F3EF; /*Body Color */
    --color-rose-pale: #FFF3F3; /*Body color variation 2 */
    --color-dark-pink: #F8A4A4; /*Pink color Buttons */

    /* Text colors */
    --color-text: #332a20;
    --color-heading: #060503;

    /* Font sizes */
    --font-size-base: 20px;
    --font-size-heading: 33px;
}

.navBar {
    background-color: var(--color-light-pink);
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--color-lighter-pink);
    font-weight: 400;
}

h1 {
    font-weight: 700;
}
