@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {

    /* Color palette */
    --color-light-black: #262222; /*Nav Bar color */
    --color-black: #000000; /*Footer Color */
    --color-light-beige: #F9F3EF; /*Body color */
    --color-dark-beige: #E0C4A7; /*beige color Buttons */

    /* Text colors */
    --color-text: #332a20;
    --color-heading: #060503;

    /* Font sizes */
    --font-size-base: 20px;
    --font-size-heading: 33px;
}

.navBar {
    background-color: var(--color-light-black);
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--color-light-beige);
    font-weight: 400;
}

h1 {
    font-weight: 700;
}
