@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {

    /* Color palette */
    --color-light-black: #262222; /*Nav Bar color */
    --color-black: #000000; /*Footer Color */
    --color-light-beige: #F9F3EF; /*Body color */
    --color-dark-beige: #E0C4A7; /*beige color Buttons */

    /* Text colors */
    --color-text: #332a20;
    --color-heading: #060503;

    /* Font sizes */
    --font-size-base: 20px;
    --font-size-heading: 33px;
}

.navBar {
    background-color: var(--color-black);
    color: white;
    padding: 5px;
}

.navBar a.nav-link {
    color: white;
}

.navBar .nav-link:hover {
    color: grey;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30px;
}


.nav-icons input {
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 30px;
}

.nav-icons #accountBtn {
    border-color: white;
    color: white;
    border-radius: 15px;
}

.nav-icons #cartBtn {
    background-color: white;
    color: black;
    border-radius: 15px;
}

.nav-icons button {
    width: 110px;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--color-light-beige);
    font-weight: 400;
}

h1 {
    font-weight: 700;
}
