@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {

    /* Color palette */
    --color-cream-light: #F5EEE6;
    --color-cream-lighter: #FFF8E3;
    --color-rose-pale: #F3D7CA;
    --color-pink-soft: #E6A4B4;

    /* Text colors */
    --color-text: #332a20; /* example dark tone */
    --color-heading: #060503;
    --color-accent: var(--color-pink-soft);

    /* Font sizes */
    --font-size-base: 16px;
    --font-size-heading: 2rem;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}
